@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Takoyaki";
    font-style: "normal";
    src: url("/public/fonts/TAKOYAKI.ttf") format("ttf");
  }

  @font-face {
    font-family: "Champ";
    src: url("/public/fonts/champ.ttf");
    font-style: normal;
  }
  @font-face {
    font-family: "Champbold";
    src: url("/public/fonts/champBold.ttf");
    font-style: normal;
    font-weight: bold;
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}
