@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Takoyaki";
    font-style: "normal";
    src: url("/public/fonts/TAKOYAKI.ttf") format("ttf");
  }

  @font-face {
    font-family: "Champ";
    src: url("/public/fonts/champ.ttf");
    font-style: normal;
  }
  @font-face {
    font-family: "Champbold";
    src: url("/public/fonts/champBold.ttf");
    font-style: normal;
    font-weight: bold;
  }
}

h1 {
  font-family: "Champbold";
  font-weight: 900;
  font-size: 59px;
}
h2 {
  font-family: "Champ";
  font-weight: 900;
  font-size: 59px;
}
h3 {
  font-family: "Takoyaki";
  font-weight: 900;
  font-size: 59px;
}
